<div class="control-panel">
  <button *ngIf="!isEditing" class="btn-primary" (click)="onEdit()">
    <i class="material-icons">edit</i>
    <span>Editar</span>
  </button>
  <button *ngIf="isEditing" class="btn-primary" (click)="onSave()">
    <i class="material-icons">save</i>
    <span>Salvar</span>
  </button>
  <button *ngIf="isEditing" class="btn-secondary" (click)="onCancel()">
    <i class="material-icons">close</i>
    <span>Cancelar</span>
  </button>
  <button *ngIf="!isEditing" class="btn-secondary" (click)="onDelete()">
    <i class="material-icons">delete</i>
    <span>Excluir</span>
  </button>
  <button *ngIf="!isEditing" class="btn-secondary" (click)="onPrint()">
    <i class="material-icons">print</i>
    <span>Imprimir</span>
  </button>
</div>
