<!-- crie uma tela de login contendo um input para login e um input para senha, e tambem devera ter um botao "Entrar" e um botao "Registrar-se" -->

<div class="login-container">
  <div class="login-box">
    <div class="logo-container">
      <img alt="logo-fiaux" class="logo" src="assets/fiaux-logo.png"/>
    </div>
    <h2><span class="fiaux-color-font">Adequação</span> Parquetec</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <input 
          type="text" 
          placeholder="Usuário"
          [(ngModel)]="loginData.username"
          name="username"
          required>
      </div>
      <div class="form-group">
        <input 
          type="password" 
          placeholder="Senha"
          [(ngModel)]="loginData.password"
          name="password"
          required>
      </div>
      <div class="buttons">
        <button type="submit" class="btn-primary" [disabled]="!loginForm.form.valid">ENTRAR</button>
        <button type="button" class="btn-secondary" (click)="onRegister()">REGISTRAR-SE</button>
      </div>
    </form>
  </div>
</div>